* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
 /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  box-sizing: border-box;
         /* Opera/IE 8+ */;
}
body{
	height:auto !important;
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}
a:hover{
	color:#fd6120;
	text-decoration: none;
}
.jumbotron{
	background:#fff;
}
.jumbotron.top-home{
margin-top:0px;
}
.nav ul {
    list-style: none !important;
    float: right !important;
}
.nav ul li{
	display: inline !important;
}
.wp_menufication
{

margin: 0;
padding: 0;
list-style-type: none;
float:right
}

.wp_menufication li { display: inline; margin:20px;}

.nav .wp_menufication li a {
    color: black;
    font-weight:normal;
}

OL { counter-reset: item ;font-size:13px;font-weight:200;}
OL LI { display: block;margin:10px 0; font-weight:700;}
OL LI:before { content: counters(item, ".") ". "; counter-increment: item }
OL LI OL LI:before { content: counters(item, ".") " "; counter-increment: item }
OL LI OL LI OL LI:before{content: "";display:block;} 
OL LI OL LI{
	font-weight:200;
}
OL LI span{display:block;
	padding-left:50px;
	margin:10px 0;
}
.container{
	max-width:950px !important;
}
.jumbotron {
margin:0;
}
.social-icons-header{
	position:absolute;
	top:0;
	width:100%;
	padding:0;
	border-bottom:1px solid #ebebeb;
	background:#fcfcfc;
}
.social-icons-container{
	max-width:950px;
	right:15px;
	border-right:1px solid #ebebeb;
	margin:0 auto;
	text-align:right;
	padding:0;
	z-index:900;
	position:relative;
}
.social-icons-header .social-icons-container .fa{
	color:#54667a !important;
}
.social-icons-header .social-icons-container .fa:hover{
	cursor:pointer;
	color:#fd6120 !important;
}

.gray-line, .blank-line{
	float:right;
	padding: 0 10px;
}
.gray-line{
	border-left:2px solid #ebebeb;
}
.blank-line{
	border-left:2px solid #ebebeb;
}
.logo{
	position:absolute;
	top:25px;
	z-index:100;
}
.logo img{
	margin-top:10px;
}
header .container{
	position:relative;
	/*border:1px solid #ff0000;*/
	padding-top:63px;
}
.wp_menufication li:last-child{
	margin-right:0;
}
.pre-home{
	padding:0;
	background:#000;
}
.top-home{
background: #fff url(/wp-content/uploads/2015/09/home-top.jpg);
background-size:cover;
color:#fff;
text-align:left;
position:relative;
}
.top-home h1{
	text-transform:uppercase;
	font-size:60px;
	font-weight:600;
	letter-spacing: -5px;
}
.top-home h2{
	text-transform:uppercase;
	font-size:18px;
	letter-spacing: -1px;
}
.top-home p{
	font-size:16px;
}
.top-home .bottom{
	position:absolute;
	bottom:0;
}

.start-trial{
display:table;
}
.start-trial-left{
height:74px;
display:table-cell !important;
vertical-align:bottom !important;
}

.start-trial-right{
padding-left:20px;	
height:84px;
display:table-cell;
}

.btn-home-page{
	bottom:0;
}
.clearit{
	clear:both;
}
.boxes-home{
	background:#e7e7e7;

}
.boxes-home p{
	font-size:16px;
}
.box-1{
	background:#fff;
	color:#353637;
}
.box-2{
	background:#fff;
	color:#353637;
}
.box-3{
	background:#fff;
	color:#353637;
}
.inside{
	/*padding:10px;*/
}
.inside.box-1 .top{
padding:40px 0 30px 0;
background:#fc611f;
color:#fff;
}
.inside.box-2 .top{
padding:40px 0 30px 0;
background:#f3ac1e;
color:#fff;
}
.inside.box-3 .top{
padding:40px 0 30px 0;
background:#658426;
color:#fff;
}

.boxes-home .top h1{
	font-size:20px;
}
.boxes-home .bottom{
	padding:30px 10px 30px 10px;
}
.boxes-home .bottom h1{
	font-size:16px;
	font-weight:600;
	margin:0;
}
.boxes-home p a{
color:#54cce8;
font-size:12px;
line-height:40px;
font-weight:600;
position:absolute;
bottom:10px;
width:100%;
left:0;
}
.jumbotron.home-second-box{
	padding:60px 0;
/*background:url(/wp-content/themes/theme/img/home-page-2nd-background.png);*/
/*background:#ff8b19;*/
background:#F3AC1E;
}
.jumbotron.intrigued{
    padding:30px 0;
    background:url(/wp-content/uploads/2015/09/mac.jpg);
    background-size: cover;
}
.jumbotron.footer{

padding:20px;

background:#fff;
}
.top-home h1 span{
    background: url(img/bottom.png) repeat-x 0 100%;
    /*white-space: nowrap;*/
    padding-bottom: 10px;
}
.jumbotron.footer .left, .jumbotron.footer .right{
width:50%;
color:#bbbbbb;
font-size:13px;
font-weight:400;
}
 .jumbotron.footer .container{
display:table;

 }

.jumbotron.footer .left,
.jumbotron.footer .right{
text-align:right;
display:table-cell;
vertical-align:middle;
}
.jumbotron.footer .right a{
color:#bbbbbb;
font-size:13px;
font-weight:400;
}
.jumbotron.footer .right .fa-envelope-o{
	font-size:24px;
padding-top:10px;
}
.jumbotron.footer .right .fa-mobile{
	font-size:30px;
}

.intrigued{
color:#fff;
}
.intrigued h1{
	color:#fff;
	font-size:30px;
	margin:0;
}
.home-second-box a{
color:#fff;
}
.home-second-box{
	color:#fff;
}
.home-second-box h1{
font-size:29px;
text-transform: uppercase;
}
.home-second-box p{
	font-size:18px;
	font-weight:100;
}
.fb_image{
	width:53px;
	border-radius: 100px;
	overflow:hidden;
	height:53px;
	margin:0 auto;
	background:#fff;
	position:absolute;
	left: 50%;
    margin-left: -26.5px;
    top:-2px;

}
.fb_image img{
width:100%;
}

.btn-primary {
    background-image: none;
    background-repeat: none;
    border-color: none;
    border:none;
    border-radius:0;
}

.btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0) inset, 0px 0px 0px rgba(0, 0, 0, 0);
}
.btn-transparent{
	border:1px solid #fff;
	color:#fff;
	background:transparent;
	padding:15px 20px;
	background:linear-gradient(to left, transparent 50%, #FD6120 50%);
	background-size: 200% 100%;
    background-position:right bottom;
    margin-left:10px;
    transition:all .3s ease;
}
.btn-transparent:hover{
	color:#fff;
	background:#FD6120;
	border:1px solid #FD6120;
	background:linear-gradient(to left, transparent 50%, #FD6120 50%);
	background-size: 200% 100%;
    background-position:left bottom;

}

.btn-home-page-green{
	border:none;
	color:#000;
	background:#F3AC1E;
	padding:15px 20px;
	background:linear-gradient(to left, #F3AC1E 50%, #FD6120 50%);
	background-size: 200% 100%;
    background-position:right; bottom;
    margin-left:0px;
    transition:all .3s ease;
}
.btn-home-page-green:hover{
	border:none;
	color:#fff;
	background:#F3AC1E;
	background:linear-gradient(to left, #F3AC1E 50%, #FD6120 50%);
	background-size: 200% 100%;
    background-position:left bottom;

}


.btn-home-page-login{
	border:none;
	color:#fff;
	background:#17b7c5;
	padding:15px 20px;
}
.btn-home-page-login:hover{
	border:none;
	color:#fff;
	background:#18b7c5;
}




.intrigued .left{
font-size:24px;
width:70%;
border:0px solid #ff0000;
float:left;
}
 .intrigued .right{
width:20%;
text-align:right;
float:left;
padding-top:10px;
}

.post-edit-link{
	position:absolute;
}
a{
	color:#54667a;
	text-decoration:none;
}



footer .container .left{
font-size:12px;
width:30%;
float:left;
color:#fff;
}

footer .container .right{
font-size:12px;
width:70%;
float:left;
text-align:right;
color:#fff;
}
footer .container .right a{
color:#fff;
}
.jumbotron.home-dropbox{
	background:#fff;
	padding:20px;
	color:#000;
	font-size:20px;
	padding:0;
}
.home-dropbox .container{
display:table;

}
.home-dropbox .container .col-md-4{
display:table-cell;
line-height:150px;

}
.home-dropbox .container .col-md-12{
text-align:center;
padding:20px 0;
}
.home-dropbox .container .col-md-12 img{
padding:10px;
}

.home-dropbox .container .col-md-4 p{
line-height:100px;
margin-top:25px;
text-align:left;
}
.home-orange-box{
display:table-cell;
line-height:105px;
padding:10px;
width:33%;
float:left;
border:1px solid #ff0000;
}
.home-orange-box:last-child{
text-align:center;
}
.home-orange-box p{
margin-top:30px;
line-height:30px;
}
article{
	text-align:justify;
}

.jumbotron.faq{
	background:#fd6120;
	color:#fff;
	padding:0;
}
.container.faq{
background: url(img/devices-faq.png) no-repeat center right;
padding:30px;
font-size:24px;
}
.btn-faq{
	margin-top:20px;
background:linear-gradient(to right, transparent 50%, #fff 50%);
	background-size: 200% 100%;
    background-position:left bottom;
    margin-left:10px;
    transition:all .3s ease;	
}
.btn-faq:hover{
background:#fff;
color:#FD6120;
border:1px solid #FD6120;
background:linear-gradient(to right, transparent 50%, #fff 50%);
	background-size: 200% 100%;
    background-position:right bottom;
}

.btn-home-page-green:hover{
/*background:#FD6120;*/
color:#fff;

}
.jumbotron.faq-title, .jumbotron.about_us-title{
	background:#fff;
	border-bottom:1px solid #e7e7e7;
	text-align:center;
	padding:20px;
}
.jumbotron.faq-title h1, .jumbotron.about_us-title h1{
	font-size:28px;
	text-transform: uppercase;
}
.jumbotron.faq-title p, .jumbotron.about_us-title p{
font-size:13px;
}
.jumbotron.faq-title .container,.jumbotron.about_us-title .container{
	max-width:650px !important;
}
.jumbotron.faq-content p, .jumbotron.about_us-content p{
	font-size:13px;
}
.jumbotron.faq-content h3, .jumbotron.about_us-content h3{
	font-size:19px;
	font-weight:600;
}
.jumbotron.faq-content, .jumbotron.about_us-content{
	margin-bottom:35px;
}
.jumbotron.about_us-content .col-md-4{
padding:0;
}
.col-md-8.right{
	padding-right:0;
}
.col-md-8.left{
	padding-left:0;
}
.col-md-4 .overlay-about_us{
	position:absolute;
	width:100%;
	height:100%;
	background:#000;
	top:0;
	opacity:0;
	color:#fff;
	 transition: all 0.5s ease;
}

.col-md-4 .overlay-about_us .over{
		 position:absolute;width:100%;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);
}

.col-md-4 .overlay-about_us:hover{
opacity:.5;
 transition: all 0.5s ease;
 cursor:pointer;
}
.jumbotron.about_us{
	padding:0;
	height:200px;
	background:url(/wp-content/uploads/2015/09/about_us.jpg) center center no-repeat;
}
.about_us-content span{
	font-size:13px;
	color:#919191;
}

.jumbotron.login{
	padding:0;
	height:200px;
	background:url(img/header.jpg) center center no-repeat;
}

.login-form{
	width:300px;
	margin:0 auto;
	text-align:center;
	padding:20px;
	min-height:420px;
	font-weight:700;
}
.login-form input{
	width:200px;
}
.login-form input[type=text], .login-form input[type=password], .login-form input[type=email]{
height:35px;
margin:10px 0;
border: 1px solid #9a9a9a;
padding:10px;
}
.login-form input[type=text]:focus, .login-form input[type=password]:focus, .login-form input[type=email]:focus{
border:1px solid #fe601f;

}
.login-form p{
	margin:0;
}
.login-form a{
	color:#17b7c5;
	font-size:14px;
}
.login-form .btn{
	margin-top:30px;
}
.contact-form input{
width:100%;
height:35px;
margin:10px 0;
border: 1px solid #9a9a9a;
padding:10px;
}
.contact-form input:focus{
border:1px solid #fe601f;
}


 .contact-form textarea{
width:100%;
border: 1px solid #9a9a9a;
-webkit-appearance: none;
border-radius:0;
margin: 10px 0px;
}
.contact-form textarea:focus{
border:1px solid #fe601f;
}
.contact-form input[type="submit"]{
width:auto;
padding: 15px 20px;
line-height:20px;
height:auto;
border:none;
}
.noshowit{
	display:none;
}
.container.top-home{
  background: url('/img/devices_header_homepage.png');
}
@media only screen and (max-width:1076px) {
.jumbotron{
margin-top:0px;
}
.showit{
	display:none;
}
}
@media only screen and (max-width:1040px) {
.showit{
	display:none;
}

.col-md-8.right{
	padding-left:0;
}
.jumbotron.top-home{
margin-top:0px;
}
.jumbotron.about_us-content .col-md-8{
	margin-top:20px;
	margin-bottom: 0px;
}
.contact-form input[type="submit"]{
	width:100%;
}
.container.top-home{
background:none !important;
}
.container.faq{
background:none !important;
}
.top-home{
	background: #7b6859 url(/wp-content/uploads/2015/09/home-top.jpg);
	background-size:cover;
}
.top-home h1 span{
    white-space: nowrap;
}
.container{
	max-width:100% !important;
}
.showit{
	display:none;
}
.noshowit{
	display:block;
}
.top-home h1 {
	font-size:50px;
}
}



@media only screen and (max-width:990px) {
.jumbotron.home-second-box .container{
	background:none !important;
}
}
@media only screen and (max-width:786px) {
.jumbotron.top-home{
margin-top:0px;
}
}
@media only screen and (max-width:768px) {
article{
	text-align:left;
}
.jumbotron.top-home{
margin-top:0px;
}
.home-dropbox .container{
display:block;
}
.home-orange-box{
display:block;
width:100%;
text-align:center;
}
.home-dropbox .container{
	padding:0 0 30px 0;
}
.home-dropbox .container .col-md-4{
display:block;
line-height:100px;
float:none;
}
.home-dropbox .container .col-md-4 p{
text-align:center;
}
.home-orange-box img{
max-width:100%;
}

.jumbotron.footer{
	padding:0;
}
.jumbotron.footer .container{
	display:block;
	padding:10px;
}
.jumbotron.footer .container .left, .jumbotron.footer .container .right{
width:100%;
display:block;
text-align:center;
}

footer .container .left,footer .container .right{
width:100%;
text-align:center;
}

footer .container{
	padding-bottom:10px;
}


.post-edit-link{
display:none;
}
.top-home .bottom{
	bottom: 10px;
}
.btn-home-page-green{
	margin-top:20px;
}


.intrigued .left, .intrigued .right{
width:100%;
	}
.intrigued .left,	.intrigued .right{
text-align:center;
	}
}


@media only screen and (max-width:400px) {
.logo img{
width:50%;
	}
.jumbotron.top-home{
margin-top:0px;
}
}
.current_page_item a{
font-weight:700 !important;
}
.toptop{
	position:fixed;
	width:100%;
	background:#fff;
	z-index:90000;
	top:-100px;
	border-bottom:1px solid #c0c0c0;
}
#post-29 a{
 text-decoration: underline;
}
.nav ul {
	list-style: none;
}
.frmFooterDiv{
    width:171px;
    float: right;
    margin-right: 10%;
}
.frmHeaderDiv{
    width:171px;
    float: left;
}
#frmApply input {
    width: 100%;
}
#frmFaqApply input{
width:100%;
}

#frmFooterApply input {
    width: 100%;
}
#frmFooterApply {
    width: 100%;
}
.frmHomePageDiv {
    width: 171px;
}
.logoSmall {
    top: -10px;
    z-index: 100;
    width: 100%;
    height: 100%;
    display:none;
}
.logoSmall a{
    position: absolute;
    left: -125px;
    margin-left: 50%;
}
.noshowitLogo{
  display:block;
}